<div class="relative">
  <div class="border-r-4 border-primary-600 absolute h-full" style="top: 4px; margin-left: 5.15rem;"></div>
  <ul class="timeline list-none m-0 p-0">
    {% include timelines/item.html title="First notes in notebook" date="Aug 18" %}
    {% include timelines/item.html title="Start coding" date="Aug 19" %}
    {% include timelines/item.html title="Launch MVP" date="Aug 21" %}
    {% include timelines/item.html title="Launch landing page" date="Aug 24" %}
    {% include timelines/item.html title="Launch customizations" date="Sep 9" %}
    {% include timelines/item.html title="First paying customer!" date="Sep 19" %}
  </ul>
</div>
