---
title: Page not found
description: Sorry, we couldn’t find the page you’re looking for.
layout: container
hide_newsletter: true
---

<div class="flex h-full items-center pt-16 sm:pt-32">
  <div class="max-w-7xl mx-auto lg:px-8">
    <div class="relative px-4 sm:px-8 lg:px-12">
      <div class="max-w-2xl mx-auto lg:max-w-5xl">
        <div class="flex flex-col items-center">
          <p class="text-base font-semibold text-gray-400 dark:text-gray-500">404</p>
          <h1 class="mt-4 text-4xl font-bold tracking-tight text-gray-800 dark:text-gray-100 sm:text-5xl">Page not found</h1>
          <p class="mt-4 text-base text-gray-600 dark:text-gray-400">Sorry, we couldn’t find the page you’re looking for.</p>
          <a href="{% link _pages/index.liquid %}" class="button button-secondary mt-4">Go back home</a>
        </div>
      </div>
    </div>
  </div>
</div>
