---
title: About
description: I'm Joe Masilotti, Hotwire Native expert and solopreneur.
layout: container
---

<div class="grid grid-cols-1 gap-y-16 lg:grid-cols-2 lg:grid-rows-[auto_1fr] lg:gap-y-12">
  <div class="lg:pl-20">
    <div class="max-w-[250px] px-2.5 lg:max-w-none">
      <figure>
        <img src="/assets/images/joe.jpg" alt="Joe Masilotti" class="aspect-square sm:rotate-3 rounded-2xl bg-gray-100 object-cover">
        <figcaption class="sr-only">Joe Masilotti</figcaption>
      </figure>
    </div>
  </div>
  <div class="lg:order-first lg:row-span-2">
    <h1 class="text-4xl font-bold tracking-tight text-gray-800 sm:text-5xl">
      I'm Joe Masilotti, <span class="block">Hotwire Native expert</span> and solopreneur.
    </h1>
    <div class="prose mt-10">
      {% capture markdown %} {% include content/about.md %} {% endcapture %}
      {{ markdown | markdownify }}
    </div>
  </div>
  <div class="lg:pl-20">
    <ul role="list" class="grid gap-4">
      {% assign email = site.data.socials[0] %}
      {% include social.liquid social=email %}

      <hr class="my-4">
      {% for social in site.data.socials offset: 1 %}
        {% include social.liquid social=social %}
      {% endfor %}
    </ul>
  </div>
</div>
