---
title: Articles
description: My writing on Software Engineering, Leathercraft, and captivating surf/snowboard/dive adventures.
layout: simple
layout_title: My writing on topics I'm passionate about & some general learnings.
layout_description: Get started with some of my most popular posts.
---

<div class="flex max-w-3xl flex-col space-y-12">
  <!-- Substack Feed Embed -->
  <div id="substack-feed-embed"></div>
  <script>
    window.SubstackFeedWidget = {
      substackUrl: "wavesandcode.substack.com", // Replace with your Substack URL
      posts: 20,
      filter: "top",
      layout: "right",
      hidden: ["date"]
    };
  </script>
  <script src="https://substackapi.com/embeds/feed.js" async></script>
</div>

<!-- Newsletter call-to-action -->
{% comment %}
<div class="max-w-prose mt-8">
  {% include newsletter/cta.liquid %}
</div>
{% endcomment %}
