---
title: Hotwire Native for Rails Developers
description: An upcoming book by Joe Masilotti that teaches Rails developers how to build iOS and Android apps with Hotwire Native. Published by The Pragmatic Bookshelf.
layout: simple
permalink: /hotwire-native-for-rails-developers/
---

<div class="-mt-12 mb-8">
  {% include newsletter/book.liquid %}
</div>

<div class="prose lg:prose-lg">
  {% capture markdown %} {% include content/book.md %} {% endcapture %}
  {{ markdown | markdownify }}
</div>

{% include newsletter/book.liquid %}

<section class="isolate overflow-hidden bg-white px-6 lg:px-8">
  <div class="relative mx-auto max-w-2xl pt-20 sm:pt-24 lg:max-w-4xl">
    <figure class="grid grid-cols-1 items-center gap-x-6 gap-y-8 lg:gap-x-10">
      <div class="relative col-span-2 lg:col-start-1 lg:row-start-2">
        <blockquote class="text-xl font-medium leading-8 text-gray-900 sm:leading-9">
          <p>I'm a Hotwire Native developer and consultant on a mission to make mobile app development easier for Rails developers. I've been working with Hotwire Native since 2016 and am a maintainer of the library. Since then, I've helped dozens of businesses bring their Rails apps to the app stores.</p>
        </blockquote>
      </div>
      <div class="col-end-1 w-16 lg:row-span-4 lg:w-72">
        <img class="rounded-xl bg-primary-50 lg:rounded-3xl" src="/assets/images/joe.jpg" alt="Joe Masilotti">
      </div>
      <figcaption class="text-lg lg:col-start-1 lg:row-start-3">
        <div class="font-semibold text-gray-900"><a href="{% link _pages/index.liquid %}" class="hover:underline">Joe Masilotti</a></div>
        <div class="text-gray-500">The Hotwire Native guy</div>
      </figcaption>
    </figure>
  </div>
</section>
