---
title: "⚡️ Hotwire dev newsletter"
description: A curated, monthly roundup of the best Turbo (Native), Stimulus, and Strada articles, code, courses, and more.
layout: simple
newsletter: hotwire
---

<div class="flex max-w-3xl flex-col space-y-16">
  {% assign newsletters = site.hotwire | reverse %}
  {% for newsletter in newsletters %}
    {% assign title = newsletter.edition %}
    {% include post.liquid post=newsletter title=newsletter.edition cta="Read edition" %}
  {% endfor %}
</div>
