---
title: "Joe Masilotti's newsletter"
description: A weekly-ish newsletter on building Hotwire Native apps powered by Ruby on Rails. Includes exclusive content and first access to upcoming products.
layout: simple
newsletter: true
---

<div class="flow-root -mt-4">
  <div class="-mt-8 sm:-mx-4 columns-1 sm:columns-2 lg:columns-3">
    {% for testimonial in site.data.newsletter.testimonials limit: 3 %}
      {% include testimonial.liquid object=testimonial %}
    {% endfor %}
  </div>
</div>
<div class="prose lg:prose-md mt-20">
  <h2>Content sneak peek</h2>
  <p>Some recent exclusives for my newsletter subscribers. 👀</p>
  <ul class="not-prose flex flex-col space-y-16 pt-8">
    {% for exclusive in site.data.exclusives %}
      {% include card.liquid object=exclusive %}
    {% endfor %}
  </ul>
</div>
<div class="flow-root mt-20">
  <div class="-mt-8 sm:-mx-4 sm:columns-2 lg:columns-3">
    {% for testimonial in site.data.newsletter.testimonials limit: 3 offset: 3 %}
      {% include testimonial.liquid object=testimonial %}
    {% endfor %}
  </div>
</div>
