{% comment %}
Renders a newsletter subscription CTA and email capture.
- wide: Optional. Set false for an inline CTA or true for a full-width one.
- title: Optional (default value). The main heading of the block.
- description: Optional (default value). A sentence explaining the newsletter.
- tag: Optional. A Buttondown tag to add to the subscriber.
{% endcomment %}

{% assign title = include.title | default: "Get my weekly newsletter" %}
{% assign description = include.description | default: "A weekly-ish newsletter on building Hotwire Native apps powered by Ruby on Rails. Subscribe for exclusive content and first access to upcoming products." %}

{% if include.wide %}
  <div class="relative px-4 sm:px-8 lg:px-12 py-12">
    <div class="mx-auto max-w-2xl lg:max-w-5xl">
      <div class="lg:flex lg:items-center lg:justify-between lg:space-x-4">
        <div>
          <h3 class="flex items-center text-base font-medium text-gray-900">
            {% svg /assets/icons/outline/envelope.svg class="h-6 w-6 flex-none text-gray-500" %}
            <span class="ml-3">{{ title }}</span>
          </h3>
          <p class="mt-2 text-base text-gray-600 max-w-xl pr-4">{{ description }}</p>
        </div>
        {% include newsletter/subscribe.liquid tag=include.tag %}
      </div>
    </div>
  </div>
{% else %}
  <div class="not-prose bg-gray-50 rounded-2xl p-6 my-16">
    <h2 class="flex items-center font-medium leading-snug text-gray-900">
      {% svg /assets/icons/outline/envelope.svg class="h-6 w-6 flex-none hidden sm:block text-gray-500 mr-3" %}
      <span>{{ title }}</span>
    </h2>
    <p class="mt-3 text-base text-gray-600 max-w-xl pr-4">{{ description }}</p>
    {% include newsletter/subscribe.liquid tag=include.tag %}
  </div>
{% endif %}
