RewriteEngine On

RewriteCond %{HTTPS} !=on
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301,NE]
Header always set Content-Security-Policy "upgrade-insecure-requests;"

Redirect /atom.xml /feed.xml
Redirect /archive/ /topics/
Redirect /2p-board-games /great-two-player-board-games/
