RewriteEngine On

RewriteCond %{HTTPS} !=on
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301,NE]
Header always set Content-Security-Policy "upgrade-insecure-requests;"

ErrorDocument 404 /404/

Redirect /book /hotwire-native-for-rails-developers/
Redirect /turbo-native-for-rails-developers/ /hotwire-native-for-rails-developers/
Redirect /hotwire /newsletter/
Redirect /topics /articles/
Redirect /workshop /turbo-native-workshop/

Redirect /discord https://discord.gg/t6kQrYcHfZ
