<a href="/" aria-label="Masilotti.com" title="Masilotti.com" class="block pointer-events-auto">
  <img src="/images/joe-small.jpg" alt="Joe Masilotti" class="rounded-full bg-zinc-100 object-cover h-9 w-9">
</a>
