<section class="md:border-l md:border-zinc-100 md:pl-6">
  <div class="grid max-w-3xl grid-cols-1 items-baseline gap-y-8 md:grid-cols-4">
    <h2 class="text-sm font-semibold text-zinc-800"><%= title %></h2>
    <div class="md:col-span-3"><%= content %></div>
  </div>
</section>
