{% if site.banner %}
  <div class="mb-2">
    <a href="{% link _pages/slides/railsconf-2025.liquid %}" class="group block bg-gray-900 text-center text-white pointer-events-auto px-6 py-3.5 sm:px-3.5">
      At RailsConf?
      <span class="whitespace-nowrap font-bold group-hover:underline">View my workshop slides</span>.
    </a>
  </div>
{% endif %}
