{% if site.banner %}
  <div class="mb-2">
    <a href="https://newsletter.masilotti.com/p/hotwire-native-black-friday-sale?r=9nfdo" class="group block bg-gray-900 text-center text-white pointer-events-auto px-6 py-3.5 sm:px-3.5">
      Get 20% off
      <span class="whitespace-nowrap font-bold group-hover:underline">Bridge Components PRO </span>
      for Black Friday!
    </a>
  </div>
{% endif %}
