{% if site.banner %}
  <div class="mb-2">
    <a href="{% link _posts/newsletter/2025-07-07-hotwire-native-at-railsconf.md %}" class="group block bg-gray-900 text-center text-white pointer-events-auto px-6 py-3.5 sm:px-3.5">
      I'm at RailsConf this week.
      <span class="whitespace-nowrap font-bold group-hover:underline">Come say hi</span>!
    </a>
  </div>
{% endif %}
