<div class="not-prose">
  <a href="{{ site.data.urls.book }}" target="_blank" class="button button-primary button-xl flex">
    {% svg "/assets/icons/mini/shopping_cart.svg" class="h-5 w-5 mr-1.5" %}
    Buy the book
  </a>
</div>
