<div class="not-prose">
  <a href="{{ site.data.urls.book }}" target="_blank" class="text-base block border border-gray-200 bg-gray-50 rounded-xl p-4 hover:bg-gray-100 transition">
    <div class="flex items-start gap-6">
      <div class="w-32 flex-shrink-0 pt-1 hidden sm:block">
        <img src="/assets/images/hotwire-native-for-rails-developers.jpg" alt="Hotwire Native for Rails Developers book cover" class="rounded w-full h-auto" />
      </div>
      <div class="flex flex-col justify-between flex-1">
        <div>
          <p class="font-semibold text-lg text-gray-800">Hotwire Native for Rails Developers</p>
          <p class="mt-2 text-gray-600">Learn how to create intuitive and maintainable mobile apps powered by the technology you already know, Ruby on Rails.</p>
          <p class="mt-1 text-gray-600 italic">No Swift or Kotlin experience necessary.</p>
        </div>
        <p class="mt-6 uppercase tracking-tight font-bold text-red-700">Learn more</p>
      </div>
    </div>
  </a>
</div>
