<% if available? %>
  <div class="not-prose">
    <div class="flex items-center">
      <%= render UI::Button.new(title: "Buy my ticket", href:, onclick: "fathom.trackGoal('#{event_id}', 0);") %>
      <p class="text-sm font-semibold leading-6 text-zinc-900 ml-6"><%= hero %></p>
    </div>
  </div>
<% else %>
  <p class="text-lg font-semibold">Sorry, this workshop is sold out.</p>
  <p>The next session will be in mid 2023. Add your email to get first access when it goes on sale.</p>

  <div class="not-prose">
    <%= render EmailCapture.new(newsletter, cta: "Notify me") %>
    <p class="mt-4"><small>You’ll also be subscribed to the <a href="/hotwire" class="underline">Hotwire dev newsletter</a>.</small></p>
  </div>
<% end %>
