{% assign date = site.data.workshop.event.date | date: "%B %e" %}

{% if site.data.workshop.event.available %}
  <div class="mb-2">
    <a href="{% link _pages/workshop.liquid %}" class="group block bg-gray-900 text-center text-white pointer-events-auto px-6 py-3.5 sm:px-3.5">
      Your quick start guide to Hotwire Native on iOS.
      Join the <span class="whitespace-nowrap font-bold group-hover:underline">Hotwire Native workshop</span> on {{ date }}.
    </a>
  </div>
{% endif %}
