<form action="https://buttondown.email/api/emails/embed-subscribe/joemasilotti" method="post" target="popupwindow" onsubmit="window.open('https://buttondown.email/joemasilotti', 'popupwindow')" class="embeddable-buttondown-form">
  <div class="mt-6 sm:mt-8 flex">
    <input type="email" id="bd-email" name="email" placeholder="Email address" aria-label="Email address" required autocomplete="email" class="min-w-0 max-w-xs flex-auto appearance-none rounded-md border border-gray-900/10 bg-white px-3 shadow-md shadow-gray-800/5 placeholder:text-gray-400 focus:border-green-600 focus:outline-none focus:ring-4 focus:ring-green-600/10 sm:text-sm">

    <button type="submit" class="inline-flex items-center gap-2 justify-center rounded-md py-2 px-3 text-sm outline-offset-2 transition active:transition-none no-underline bg-gray-800 font-semibold text-gray-100 hover:bg-gray-700 active:bg-gray-800 active:text-gray-100/70 ml-4 flex-none">
      Subscribe
    </button>

    <input type="hidden" name="tag" value="workshop">
  </div>
</form>
