<footer class="bg-white mt-auto">
  <div class="max-w-6xl mx-auto sm:flex sm:items-center sm:justify-between py-12 sm:px-6 lg:px-8">
    <div class="flex justify-center items-baseline sm:order-2">
      <a href="{{ site.url }}" class="ml-6 text-gray-500 hover:text-gray-600 org u-url u-uid" rel="me">
        <span class="sr-only">Masilotti.com</span>
        {% include icons/link.html size=6 %}
      </a>

      <a href="mailto:{{ site.author.email }}" class="ml-6 text-gray-500 hover:text-gray-600" rel="me">
        <span class="sr-only">Email</span>
        {% include icons/mail.html size=6 %}
      </a>

      <a href="https://twitter.com/{{ site.author.twitter }}" class="ml-6 text-gray-500 hover:text-gray-600" rel="me">
        <span class="sr-only">Twitter</span>
        {% include icons/twitter.html size=6 %}
      </a>

      <a href="https://github.com/{{ site.author.github }}" class="ml-6 text-gray-500 hover:text-gray-600" rel="me">
        <span class="sr-only">GitHub</span>
        {% include icons/github.html size=6 %}
      </a>

      <a href="https://www.linkedin.com/in/{{ site.author.linkedin }}" class="ml-6 text-gray-500 hover:text-gray-600" rel="me">
        <span class="sr-only">LinkedIn</span>
        {% include icons/linkedin.html size=6 %}
      </a>
    </div>

    <div class="text-center mt-8 sm:mt-0 sm:order-1">
      <a href="{{ site.url }}" class="text-base leading-6 text-gray-500 hover:text-gray-600">
        &copy; 2020 Joe Masilotti
      </a>
    </div>
  </div>
</footer>
