<footer class="bg-white mt-auto">
  <div class="max-w-6xl mx-auto sm:flex sm:items-center sm:justify-between py-12 sm:px-6 lg:px-8">
    <div class="flex justify-center items-baseline sm:order-2">
      <a href="{{ site.url }}" class="text-gray-500 hover:text-gray-600 org u-url u-uid" rel="me">
        <span class="sr-only">Masilotti.com</span>
        {% include icons/link.html size=6 %}
      </a>

      <a href="mailto:{{ site.author.email }}" class="ml-6 text-gray-500 hover:text-gray-600">
        <span class="sr-only">Email</span>
        {% include icons/mail.html size=6 %}
      </a>

      <a href="https://twitter.com/{{ site.author.twitter }}" class="ml-6 text-gray-500 hover:text-gray-600" rel="me">
        <span class="sr-only">Twitter</span>
        {% include icons/twitter.html size=6 %}
      </a>

      <a href="https://github.com/{{ site.author.github }}" class="ml-6 text-gray-500 hover:text-gray-600" rel="me">
        <span class="sr-only">GitHub</span>
        {% include icons/github.html size=6 %}
      </a>

      <a href="https://www.linkedin.com/in/{{ site.author.linkedin }}" class="ml-6 text-gray-500 hover:text-gray-600" rel="me">
        <span class="sr-only">LinkedIn</span>
        {% include icons/linkedin.html size=6 %}
      </a>
    </div>

    <div class="text-center flex flex-wrap justify-center items-center sm:order-1 leading-6 text-gray-500 mt-8 sm:mt-0">
      <div class="flex space-x-1 mr-1">
        {% include icons/creative-commons.html size=5 %}
        {% include icons/creative-commons-noncommercial.html size=5 %}
        {% include icons/creative-commons-attribution.html size=5 %}
      </div>

      <a href="{{ site.url }}" class="hover:text-gray-600">Masilotti.com</a>
      <span>is released under a</span>
      <a href="https://creativecommons.org/licenses/by-nc/4.0/" class="hover:text-gray-600">Creative Commons BY-NC License</a>.
    </div>
  </div>
</footer>
