<header class="max-w-3xl mx-auto lg:mb-16 px-4 lg:px-0">
  <nav class="flex items-baseline justify-between flex-wrap mb-8">
    <a class="flex items-baseline no-underline group text-gray-800 hover:text-primary-700" href="{{ site.url }}">
      <img src="/images/logo.png" alt="Joe Masilotti of Masilotti.com" class="self-center h-8 md:h-12 transform group-hover:-rotate-10 my-0 lg:my-0 mr-2 md:mr-4 transition ease-in-out duration-150" />
      <span class="text-2xl md:text-3xl font-bold">Masilotti.com</span>
    </a>

    <div class="text-sm md:text-lg flex flex-wrap ml-auto">
      <a href="/topics/" class="block no-underline text-gray-700 hover:text-primary-700 mr-4">Topics</a>
      <a href="/about/" class="block no-underline text-gray-700 hover:text-primary-700 mr-4">About</a>
      <a href="/feed.xml" class="hidden sm:block no-underline text-gray-600 hover:text-primary-700">
        {% include icons/rss.html size=6 %}
      </a>
    </div>
  </nav>
</header>
