<div class="max-w-3xl mx-auto px-4">
  <div class="sm:flex items-center justify-center">
    <img src="/images/joe.jpeg" alt="Picture of Joe Masilotti" class="w-64 sm:w-40 h-64 sm:h-40 object-top object-cover rounded-lg shadow-lg mx-auto" />
    <p class="text-xl sm:text-2xl tracking-tight font-light text-gray-700 mt-8 sm:mt-0 ml-0 sm:ml-6">{{ site.data.intro.intro }}</p>
  </div>

  <div class="md:flex md:items-center md:justify-between mb-16">
    <h2 class="text-2xl sm:text-3xl leading-9 sm:leading-10 font-extrabold tracking-tight text-gray-900 mt-8 mb-4">
      {{ site.data.intro.hero-1 }}
      <br>
      <span class="text-xl sm:text-2xl text-primary-600">{{ site.data.intro.hero-2 }}</span>
    </h2>
    <div class="flex lg:flex-shrink-0">
      <div class="inline-flex rounded-md shadow">
        <a href="mailto:{{ site.author.email }}" class="text-xl inline-flex items-center px-8 py-4 border border-gray-300 text-base leading-6 font-medium rounded-md text-gray-700 bg-white hover:text-gray-500">
          <span class="mr-4">{% include icons/mail.html size=6 %}</span>
          {{ site.data.intro.cta }}
        </a>
      </div>
    </div>
  </div>
</div>
