<div class="flex flex-col sm:flex-row items-center justify-center">
  <p class="text-xl sm:text-2xl tracking-tight font-light text-gray-700 mt-8 sm:mt-0 ml-0 sm:ml-6 my-0 sm:my-0 md:my-0 lg:my-0">{{ site.data.intro.intro }}</p>
  <div class="flex flex-shrink-0 sm:order-first mt-4 items-center mr-auto">
    <img src="/images/joe.jpeg" alt="Picture of Joe Masilotti" class="w-20 sm:w-40 h-20 sm:h-40 object-top object-cover rounded-full sm:rounded-lg shadow-lg mx-auto my-0" />
    <p class="sm:hidden text-base text-center ml-4">Joe Masilotti</p>
  </div>
</div>
