<div class="pb-2">
  <h4 class="mb-1 lg:mb-0"><a href="{{ include.url }}">{{ include.title }}</a></h4>
  {% if include.author and include.twitter %}
    <span class="text-sm text-gray-600">by {{ include.author }} <a href="https://twitter.com/{{ include.twitter }}" class="text-gray-700">@{{ include.twitter }}</a></span>
    {% if include.author2 and include.twitter2 %}
      <span class="text-sm text-gray-600">and {{ include.author2 }} <a href="https://twitter.com/{{ include.twitter }}" class="text-gray-700">@{{ include.twitter2 }}</a></span>
    {% elsif include.author2 %}
      <span class="text-sm text-gray-600">and {{ include.author2 }}</span>
    {% endif %}
  {% elsif include.author %}
    <span class="text-sm text-gray-600">by {{ include.author }}</span>
  {% endif %}

  {% if include.body %}
    <p>{{ include.body | markdownify }}</p>
  {% endif %}
</div>
