<div class="md:flex md:items-center md:justify-between">
  <h2 class="text-2xl sm:text-3xl leading-9 sm:leading-10 font-extrabold tracking-tight text-gray-900">
    Want to level up your testing?
    <br>
    <span class="text-xl sm:text-2xl text-primary-600">I would love to pair program with you!</span>
  </h2>

  <div class="flex lg:flex-shrink-0">
    <div class="inline-flex rounded-md shadow">
      <a href="mailto:{{ site.author.email }}" class="no-underline inline-flex items-center justify-center px-4 md:px-5 py-2 md:py-3 border border-transparent text-base leading-6 font-medium rounded-md text-white bg-primary-600 hover:bg-primary-500 focus:outline-none focus:shadow-outline transition duration-150 ease-in-out">
        <span class="mr-4">{% include icons/users.html size=6 %}</span>
        Pair with Joe
      </a>
    </div>
  </div>
</div>
