<div class="sm:pt-4 pb-8">
  <h2 class="text-3xl leading-9 font-extrabold tracking-tight text-gray-900 sm:text-4xl sm:leading-10">
    Testing, development, and product sneak peeks.
    <br class="hidden sm:inline">
    <span class="text-green-600" id="newsletter-headline">Sign up for my monthly newsletter.</span>
  </h2>

  <form class="sm:flex" aria-labelledby="newsletter-headline" action="https://masilotti.us10.list-manage.com/subscribe/post?u=741025219db96a49efd2890b8&amp;id=3462a0385b" method="post" name="mc-embedded-subscribe-form" target="_blank">
    <input aria-label="Email address" type="email" name="EMAIL" required class="appearance-none w-full px-5 py-3 border border-gray-300 text-base leading-6 rounded-md text-gray-900 bg-white placeholder-gray-500 focus:outline-none focus:shadow-outline focus:border-green-300 transition duration-150 ease-in-out sm:max-w-xs" placeholder="Enter your email">
    <div aria-hidden="true" style="position: absolute; left: -5000px;">
      <input name="b_741025219db96a49efd2890b8_3462a0385b" tabindex="-1" type="text" />
    </div>
    <input class="hidden" checked name="group[157753][16]" type="checkbox" value="1" />
    <div class="mt-3 rounded-md shadow sm:mt-0 sm:ml-3 sm:flex-shrink-0">
      <button class="w-full flex items-center justify-center px-5 py-3 border border-transparent text-base leading-6 font-medium rounded-md text-white bg-green-600 hover:bg-green-400 focus:outline-none focus:bg-green-400 transition duration-150 ease-in-out">
        Sign up
      </button>
    </div>
  </form>
</div>
