<div class="h-36"></div>

<div class="fixed left-0 bottom-0 w-full">
  <div class="bg-orange-50">
    <div class="max-w-screen-xl mx-auto py-4 px-4 sm:px-6 lg:py-8 lg:px-8 lg:flex lg:items-center lg:justify-between">
      <h2 class="text-xl leading-6 font-extrabold tracking-tight text-gray-900 sm:text-3xl sm:leading-9">
        <span class="block sm:hidden">Mugshot Bot is on Product Hunt!</span>
        <span class="sm:block hidden">Mugshot Bot is on Product Hunt today!</span>
        <span class="block text-orange-600">And I would love your support.</span>
      </h2>
      <div class="mt-4 flex lg:flex-shrink-0 lg:mt-0">
        <a href="https://www.producthunt.com/posts/mugshot-bot?utm_source=badge-featured&utm_medium=badge&utm_souce=badge-mugshot-bot" target="_blank"><img src="https://api.producthunt.com/widgets/embed-image/v1/featured.svg?post_id=271792&theme=light" alt="Mugshot Bot - Automated link preview images for your website. | Product Hunt" style="width: 250px; height: 54px;" width="250" height="54" /></a>
      </div>
    </div>
  </div>
</div>
