{% assign count = '0' %}
{% assign idx = '0' %}
{% for post in site.posts reversed %}
  {% if post.series == page.series %}
    {% capture count %}{{ count | plus: '1' }}{% endcapture %}
    {% if post.url == page.url %}
      {% capture idx %}{{count}}{% endcapture %}
    {% endif %}
  {% endif %}
{% endfor %}

<div class="series">
  <p>
    This is part {{ idx }} in a {{ count }}-part series on <strong>{{ page.series }}</strong>.
  </p>
  <ul>
    {% assign count = '0' %}
    {% for post in site.posts reversed %}
      {% if post.series == page.series %}
        {% capture count %}{{ count | plus: '1' }}{% endcapture %}
        <li>Part {{ count }}:
          {% if page.url == post.url %}
            {{ post.title }}
          {% else %}
            <a href="{{post.url}}">{{post.title}}</a>
          {% endif %}
        </li>
      {% endif %}
    {% endfor %}
  </ul>
</div>
