{% assign count = '0' %}
{% assign idx = '0' %}
{% for post in site.posts reversed %}
  {% if post.series == page.series %}
    {% capture count %}{{ count | plus: '1' }}{% endcapture %}
    {% if post.url == page.url %}
      {% capture idx %}{{count}}{% endcapture %}
    {% endif %}
  {% endif %}
{% endfor %}

{% if page.series == "Turbo iOS" %}
  {% assign count = '6' %}
{% endif %}

<div class="bg-gray-100 text-gray-800 rounded-lg shadow-lg px-8 py-1 my-12">
  <p>This is part {{ idx }} in a {{ count }}-part series on <strong>{{ page.series }}</strong>.</p>

  <ol>
    {% assign count = '0' %}
    {% for post in site.posts reversed %}
      {% if post.series == page.series %}
        {% capture count %}{{ count | plus: '1' }}{% endcapture %}
        <li>
          {% if page.url == post.url %}
            <i>{{ post.series_title | default: post.title }}</i>
          {% else %}
            <a href="{{ post.url }}">{{ post.series_title | default: post.title }}</a>
          {% endif %}
        </li>
      {% endif %}
    {% endfor %}

    {% if page.series == "Turbo iOS" %}
      <h4>Coming soon...</h4>
      <li>Architecture and coordinators</li>
    {% endif %}
  </ol>
</div>
