<div>
  <a href="https://go.mobileatscale.com/masilotti" rel="nofollow" target="_blank" class="no-underline hover:bg-opacity-75 relative flex space-x-4 sm:space-x-6 rounded-md bg-green-100 bg-opacity-25 px-4 sm:px-6 py-4 my-12 border-2 border-green-500 border-opacity-75">
    <img src="/images/sponsors/mobile-apps-at-scale.png" class="h-16 w-16 sm:h-22 sm:w-22 rounded" style="margin: 0;">

    <div class="text-gray-700">
      <span class="font-bold underline">39 Challenges of Building Large iOS Apps</span>
      <span class="text-sm sm:text-base">Written by former Uber mobile engineer Gergely Orosz, the book Building Mobile Apps at Scale helps you overcome common iOS challenges. Free for a limited time: grab your copy now.</span>
    </div>

    <div class="absolute right-6 top-0 bg-green-500 -mt-4 rounded px-2 py-1">
      <div class="text-white text-xs font-bold uppercase">Sponsor</div>
    </div>
  </a>
</div>
