<div class="not-prose">
  <div class="rounded-md bg-yellow-50 p-4">
    <div class="flex">
      <div class="flex-shrink-0">
        {% svg /assets/icons/solid/exclamation_triangle.svg class="h-6 w-6 text-yellow-400" %}
      </div>
      <div class="ml-3">
        <h3 class="text-base font-medium text-yellow-800">Turbo Native has evolved…</h3>
        <div class="mt-2 text-base text-yellow-700">
          <p>…and is now Hotwire Native. Many concepts still apply but this post is not yet fully compatible. <a href="{% link _pages/newsletter.liquid %}" class="font-medium underline">Subscribe to my newsletter</a> to know when this is updated.</p>
        </div>
      </div>
    </div>
  </div>
</div>
