<!DOCTYPE HTML>
<html lang="en">
  <head>
    <base href="/slides/rails-world-2023/">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <title>Just enough Turbo Native to be dangerous - Joe Masilotti</title>

    <link rel="stylesheet" href="dist/reset.css">
    <link rel="stylesheet" href="dist/reveal.css">
    <link rel="stylesheet" href="dist/theme/white.css">

    <link rel="stylesheet" href="dist/theme/custom.css">

    <!-- Theme used for syntax highlighted code -->
    <link rel="stylesheet" href="plugin/highlight/one-light.css">

    <script src="https://cdn.usefathom.com/script.js" data-site="QNURQQHD" defer></script>
  </head>
  <body>
    <div class="reveal">
      <div class="slides">
        <!-- INTRO: TITLE -->
        <section class="no-footer-link full">
          <h1 class="r-fit-text">Just enough Turbo Native<br>to be dangerous</h1>
          <p><b>Rails World 2023</b></p>

          <p class="bottom-element">Joe Masilotti - <a href="https://twitter.com/joemasilotti" target="_blank">@joemasilotti</a></p>
        </section>

        <!-- INTRO: RAILS SUPERPOWERS -->
        <section>
          <h2 class="r-fit-text">Turbo Native gives Rails<br>developers <em>superpowers</em></h2>
        </section>

        <!-- INTRO: SUPERPOWERS -->
        <section>
          <p class="r-fit-text">Transform your Rails codebase<br>into iOS and Android apps…</p>
        </section>

        <section>
          <p class="r-fit-text">…by rendering server-side HTML<br>in a <em>native mobile app</em>.</p>
        </section>

        <!-- INTRO: HYBRID SKEPTIC -->
        <section class="text-left">
          <h2>I was a hybrid skeptic</h2>
          <p class="fragment">
            <span>Launched iOS and Android apps</span>
            <span class="fragment"><em>as the only developer</em>.</span>
          </p>
          <p class="fragment">What should have taken years <span class="fragment">took <em>months</em>.</span></p>
          <p class="fragment">My world changed that day.</p>
        </section>

        <section class="text-left">
          <h2>All in on Turbo Native</h2>
          <p>
            <span class="fragment">Tutorials,</span>
            <span class="fragment">YouTube videos,</span>
            <span class="fragment">upcoming book,</span>
            <span class="fragment">and dozens of App Store apps.</span>
          </p>
        </section>

        <!-- INTRO: WEB IS GOOD ENOUGH -->
        <section>
          <p class="fragment">Hybrid will never be as good as native.</p>
        </section>

        <section>
          <h1 class="r-text-fit">Web UI is<br><em>good enough</em><br> <span class="fragment">most of the time.</span></h1>
        </section>

        <!-- INTRO: WHY IT MATTERS -->
        <section class="text-left">
          <h2>Why Turbo Native?</h2>
          <p class="fragment">Write once, deploy everywhere</p>
          <p class="fragment">Maximize Rails skills</p>
          <p class="fragment">Skip expensive development cycles</p>
          <p class="fragment">Upgrade screens <em>when needed</em></p>
        </section>

        <!-- INTRO: APPS -->
        <section class="no-footer-link" data-background-image="images/app-icons.png" data-background-size="contain"></section>

        <!-- INTRO: AGENDA -->
        <section>
          <div class="text-left">
            <h2>Today we will…</h2>
            <ol>
              <li class="fragment">Build an app from scratch</li>
              <li class="fragment">Make it feel more native</li>
              <li class="fragment">Integrate native screens</li>
              <li class="fragment">Preview new features</li>
            </ol>
          </div>
        </section>

        <!-- 101: TITLE AND DEMO -->
        <section>
          <div class="r-fit-text text-left">
            <h3>Turbo Native 101</h3>
            <p class="line-height-1">Your Rails-powered iOS app</p>
          </div>
        </section>

        <section class="no-footer-link" data-background-image="images/screenshot.png" data-background-size="contain"></section>

        <!-- 102: TITLE -->
        <section>
          <div class="r-fit-text text-left">
            <h3>Turbo Native 102</h3>
            <p class="line-height-1">Making the app feel more native</p>
          </div>
        </section>

        <section class="text-left" data-auto-animate>
          <p>Something looks a bit… off</p>
          <img src="images/web-elements-small.png">
        </section>

        <section class="text-left" data-auto-animate>
          <p>Something looks a bit… off</p>
          <img src="images/web-elements.png">
        </section>

        <section class="text-left" data-auto-animate>
          <p>Something looks a bit… off</p>
          <img src="images/web-elements-highlighted-1.png">
        </section>

        <section class="text-left" data-auto-animate>
          <p>Something looks a bit… off</p>
          <img src="images/web-elements-highlighted-2.png">
        </section>

        <!-- 102: CONDITIONAL CONTENT -->
        <section class="text-left">
          <h3>Turbo Native specific content</h3>
        </section>

        <section data-auto-animate>
          <h4 class="text-left">Set the user agent</h4>
          <pre data-id="code" class="swift fragment"><code data-trim data-noescape data-line-numbers>
              private lazy var session = {
                  let session = Session()
                  session.delegate = self
                  return session
              }()
          </code></pre>
        </section>

        <section data-auto-animate>
          <h4 class="text-left">Set the user agent</h4>
          <pre data-id="code" class="swift"><code data-trim data-noescape data-line-numbers="2,3|5">
              private lazy var session = {
                  let config = WKWebViewConfiguration()
                  config.applicationNameForUserAgent = "Turbo Native iOS"

                  let session = Session(webViewConfiguration: config)
                  session.delegate = self
                  return session
              }()
          </code></pre>
        </section>

        <section>
          <h4 class="text-left">turbo-rails helper</h4>
          <pre class="ruby fragment"><code data-trim data-noescape>
            # turbo-rails/app/controllers/turbo/native/navigation.rb

            def turbo_native_app?
              request.user_agent.to_s.match?(/Turbo Native/)
            end
          </code></pre>
        </section>

        <section data-auto-animate>
          <h4 class="text-left">Hide the nav bar</h4>
          <pre data-id="code" class="erb fragment"><code data-trim data-noescape data-line-numbers>
            &lt;%# app/views/shared/_navbar.html.erb %&gt;

            &lt;nav class="navbar"&gt;
              <%= link_to "Hiking journal", root_path %>
            &lt;/nav&gt;
          </code></pre>
        </section>

        <section data-auto-animate>
          <h4 class="text-left">Hide the nav bar</h4>
          <pre data-id="code" class="erb"><code data-trim data-noescape data-line-numbers="3,7">
            &lt;%# app/views/shared/_navbar.html.erb %&gt;

            <% unless turbo_native_app? %>
              &lt;nav class="navbar"&gt;
                <%= link_to "Hiking journal", root_path %>
              &lt;/nav&gt;
            <% end %>
          </code></pre>
        </section>

        <section class="text-left">
          <h4><code>turbo_native_app?</code> in views</h4>
          <p class="fragment">Conditional logic is harder to maintain</p>
          <p class="fragment">Can break Russian doll caching</p>
        </section>

        <section class="text-left" data-auto-animate>
          <h4>Turbo Native styles</h4>
          <pre data-id="code" class="erb fragment"><code data-trim data-line-numbers>
            <%# app/views/shared/_navbar.html.erb %>

            <nav class="navbar">
              <%= link_to "Home", root_path %>
            </nav>
          </code></pre>
        </section>

        <section class="text-left" data-auto-animate>
          <h4>Turbo Native styles</h4>
          <pre data-id="code" class="erb fragment"><code data-trim data-line-numbers="3">
            <%# app/views/shared/_navbar.html.erb %>

            <nav class="navbar turbo-native-hidden">
              <%= link_to "Home", root_path %>
            </nav>
          </code></pre>
        </section>

        <section class="text-left" data-auto-animate>
          <h4>Turbo Native styles</h4>
          <pre data-id="code" class="erb"><code data-trim data-line-numbers="3">
            <%# app/views/shared/_navbar.html.erb %>

            <nav class="navbar turbo-native-hidden">
              <%= link_to "Home", root_path %>
            </nav>
          </code></pre>

          <pre class="css"><code data-trim data-line-numbers>
            /* app/assets/stylesheets/native.css */

            .turbo-native-hidden {
              display: hidden !important;
            }
          </code></pre>
        </section>

        <section class="no-footer-link text-left" data-auto-animate>
          <h4>Turbo Native styles</h4>
          <pre data-id="code" class="erb"><code data-trim data-line-numbers="3">
            <%# app/views/shared/_navbar.html.erb %>

            <nav class="navbar turbo-native-hidden">
              <%= link_to "Home", root_path %>
            </nav>
          </code></pre>

          <pre class="css"><code data-trim data-line-numbers>
            /* app/assets/stylesheets/native.css */

            .turbo-native-hidden {
              display: hidden !important;
            }
          </code></pre>
          <pre data-id="layout-code" class="erb"><code data-trim data-line-numbers>
            <%# app/views/layouts/application.html.erb %>

            &lt;head&gt;
              <%= stylesheet_include_tag "application" %>
            &lt;/head&gt;
          </code></pre>
        </section>

        <section class="no-footer-link text-left" data-auto-animate>
          <h4>Turbo Native styles</h4>
          <pre data-id="code" class="erb"><code data-trim data-line-numbers="3">
            <%# app/views/shared/_navbar.html.erb %>

            <nav class="navbar turbo-native-hidden">
              <%= link_to "Home", root_path %>
            </nav>
          </code></pre>

          <pre class="css"><code data-trim data-line-numbers>
            /* app/assets/stylesheets/native.css */

            .turbo-native-hidden {
              display: hidden !important;
            }
          </code></pre>
          <pre data-id="layout-code" class="erb"><code data-trim data-line-numbers="5">
            <%# app/views/layouts/application.html.erb %>

            &lt;head&gt;
              <%= stylesheet_include_tag "application" %>
              <%= stylesheet_include_tag "native" if turbo_native_app? %>
            &lt;/head&gt;
          </code></pre>
        </section>

        <section class="text-left">
          <img src="images/navbar-comparison.png">
        </section>

        <section>
          <h2 data-id="recap-title">Turbo Native specific content<br><span class="fragment">configured entirely via Rails!</span></h2>
        </section>

        <!-- 102: NATIVE TITLES -->
        <section class="text-left" data-auto-animate>
          <h3>Native titles</h3>
          <img src="images/native-title-highlighted.png">
        </section>

        <section class="text-left" data-auto-animate>
          <h3>Native titles</h3>
          <p>Set automatically from <code>&lt;title&gt;</code></p>
          <img src="images/native-title-highlighted.png">
        </section>

        <section class="text-left" data-auto-animate>
          <h3>Native titles</h3>
          <pre data-id="code" class="erb"><code data-trim data-line-numbers>
            <%# app/views/layouts/application.html.erb %>

            &lt;head&gt;
              &lt;title&gt;Hiking Journal&lt;/title&gt;
            &lt;/head&gt;
          </code></pre>
        </section>

        <section class="text-left" data-auto-animate>
          <h3>Native titles</h3>
          <pre data-id="code" class="erb"><code data-trim data-line-numbers="4">
            <%# app/views/layouts/application.html.erb %>

            &lt;head&gt;
              &lt;title&gt;<%= content_for(:title) || "Hiking Journal" %>&lt;/title&gt;
            &lt;/head&gt;
          </code></pre>
        </section>

        <section class="text-left" data-auto-animate>
          <h3>Native titles</h3>
          <pre data-id="code" class="erb"><code data-trim data-line-numbers="4">
            <%# app/views/layouts/application.html.erb %>

            &lt;head&gt;
              &lt;title&gt;<%= content_for(:title) || "Hiking Journal" %>&lt;/title&gt;
            &lt;/head&gt;
          </code></pre>
          <pre data-id="view-code" class="erb"><code data-trim data-line-numbers>
            <%# app/views/hikes/show.html.erb %>

            &lt;h1&gt;<%= @hike.name %>&lt;/h1&gt;
          </code></pre>
        </section>

        <section class="text-left" data-auto-animate>
          <h3>Native titles</h3>
          <pre data-id="code" class="erb"><code data-trim data-line-numbers="4">
            <%# app/views/layouts/application.html.erb %>

            &lt;head&gt;
              &lt;title&gt;<%= content_for(:title) || "Hiking Journal" %>&lt;/title&gt;
            &lt;/head&gt;
          </code></pre>
          <pre data-id="view-code" class="erb"><code data-trim data-line-numbers="3">
            <%# app/views/hikes/show.html.erb %>

            <% content_for :title, @hike.name %>

            &lt;h1&gt;<%= @hike.name %>&lt;/h1&gt;
          </code></pre>
        </section>

        <section class="text-left" data-auto-animate>
          <h3>Native titles</h3>
          <pre data-id="code" class="erb"><code data-trim data-line-numbers="4">
            <%# app/views/layouts/application.html.erb %>

            &lt;head&gt;
              &lt;title&gt;<%= content_for(:title) || "Hiking Journal" %>&lt;/title&gt;
            &lt;/head&gt;
          </code></pre>
          <pre data-id="view-code" class="erb"><code data-trim data-line-numbers="5">
            <%# app/views/hikes/show.html.erb %>

            <% content_for :title, @hike.name %>

            &lt;h1 class="turbo-native-hidden"&gt;<%= @hike.name %>&lt;/h1&gt;
          </code></pre>
        </section>

        <section class="text-left" data-auto-animate>
          <h3>Native titles</h3>
          <img src="images/native-title-comparison.png">
        </section>

        <section data-auto-animate>
          <h1 data-id="title">Native titles<br><span class="fragment">with only Ruby!</h1>
        </section>

        <!-- 102: IMAGE UPLOAD -->
        <section data-auto-animate>
          <h3 class="text-left">Native image uploads</h3>
        </section>

        <section class="no-footer-link" data-auto-animate>
          <h3 class="text-left">Native image uploads</h3>
          <img data-id="image" src="images/image-upload-1.png">
        </section>

        <section class="no-footer-link" data-auto-animate>
          <h3 class="text-left">Native image uploads</h3>
          <img data-id="image" src="images/image-upload-2.png">
        </section>

        <section class="text-left" data-auto-animate data-auto-animate-id="file">
          <h3 class="text-left">Native image uploads</h3>
          <p class="fragment"><b>Step 1</b>:</p>
          <pre data-id="code" class="erb fragment"><code data-trim data-noescape>
            <%= form.file_field :image %>
          </code></pre>
        </section>

        <section class="text-left" data-auto-animate data-auto-animate-id="file">
          <h3 class="text-left">Native image uploads</h3>
          <p><b>Step 1</b>:</p>
          <pre data-id="code" class="erb"><code data-trim data-noescape>
            <%= form.file_field :image %>
          </code></pre>

          <p><b>Step 2</b>:</p>
          <p class="fragment">…there is no step 2.</p>
        </section>

        <!-- 102: COMPONENT EXAMPLES -->
        <section class="no-footer-link" data-background-image="images/form-examples-ios.png" data-background-size="contain"></section>
        <section class="no-footer-link" data-background-image="images/form-examples-android.png" data-background-size="contain"></section>

        <!-- 102: RECAP -->
        <section>
          <h2 data-id="recap-title">Logic stays on the server.<br><span class="fragment">You keep writing Ruby.</span></h2>
        </section>

        <!-- ADVANCED: TITLE -->
        <section>
          <div class="r-fit-text text-left">
            <h3>Advanced Turbo Native</h3>
            <p class="line-height-1">Native screens</p>
          </div>
        </section>

        <section class="no-footer-link" data-background-image="images/web-maps-1.png" data-background-size="contain"></section>
        <section class="no-footer-link" data-background-image="images/web-maps-2.png" data-background-size="contain"></section>
        <section class="no-footer-link" data-background-image="images/native-map-1.png" data-background-size="contain"></section>
        <section class="no-footer-link" data-background-image="images/native-map-2.png" data-background-size="contain"></section>

        <!-- ADVANCED: PATH CONFIGURATION -->
        <section class="text-left">
          <h3>URL routing</h3>
          <p class="fragment"><code>/hikes/:hike_id/map</code> &rarr; native map</p>
          <p class="fragment">Need to remain flexible</p>
          <p class="fragment">Enter <b>path configuration</b></p>
        </section>

        <section class="text-left" data-auto-animate>
          <h3>Path configuration</h3>
          <p class="fragment">Server-hosted JSON file to remotely configure app</p>
          <pre data-id="code" class="json fragment"><code data-trim data-line-numbers>
            {
              "settings": {},
              "rules": []
            }
          </pre></code>
        </section>

        <section class="text-left" data-auto-animate>
          <h3>Path configuration</h3>
          <p>Server-hosted JSON file to remotely configure app</p>
          <pre data-id="code" class="json"><code data-trim data-line-numbers="4-9|5|6-8">
            {
              "settings": {},
              "rules": [
                {
                  "patterns": ["/hikes/[0-9]+/map"],
                  "properties": {
                    "controller": "map"
                  }
                }
              ]
            }
          </pre></code>
        </section>

        <section class="no-footer-link text-left" data-auto-animate>
          <h3>Path configuration</h3>
          <p>Server-hosted JSON file to remotely configure app</p>
          <pre data-id="code" class="json"><code data-trim data-line-numbers="6-8">
            {
              "settings": {},
              "rules": [
                {
                  "patterns": ["/hikes/[0-9]+/map"],
                  "properties": {
                    "controller": "map"
                  }
                }
              ]
            }
          </pre></code>

          <pre data-id="swift-code" class="swift"><code data-trim data-line-numbers>
            struct VisitProposal {
                let url: URL
                let options: VisitOptions
                let properties: PathProperties
            }
          </pre></code>
        </section>

        <section class="no-footer-link text-left" data-auto-animate>
          <h3>Path configuration</h3>
          <p>Server-hosted JSON file to remotely configure app</p>
          <pre data-id="code" class="json"><code data-trim data-line-numbers="6-8">
            {
              "settings": {},
              "rules": [
                {
                  "patterns": ["/hikes/[0-9]+/map"],
                  "properties": {
                    "controller": "map"
                  }
                }
              ]
            }
          </pre></code>

          <pre data-id="swift-code" class="swift"><code data-trim data-line-numbers="4">
            struct VisitProposal {
                let url: URL
                let options: VisitOptions
                let properties: [String: AnyHashable]
            }
          </pre></code>
        </section>

        <section class="text-left" data-auto-animate>
          <h3>Path configuration</h3>
          <pre class="ruby"><code data-trim data-line-numbers>
            # config/routes.rb

            Rails.application.routes.draw do
              get "/configurations/ios-v1", to: "configurations#ios_v1"
            end
          </pre></code>
        </section>

        <section class="text-left" data-auto-animate>
          <h3>Path configuration</h3>
          <pre class="ruby" style="font-size: 1.2rem;"><code data-trim>
            # app/controllers/configurations/ios_controller.rb

            class ConfigurationsController < ApplicationController
              def ios_v1
                render json: {
                  settings: {},
                  rules: [
                    {
                      patterns: ["/hikes/[0-9]+/map"],
                      properties: {
                        controller: "map"
                      }
                    }
                  ]
                }
              end
            end
          </pre></code>
        </section>

        <section class="text-left" data-auto-animate>
          <h3>Path configuration</h3>
          <pre data-id="code" class="swift"><code data-trim data-line-numbers>
            let rootURL = URL(string: "http://localhost:3000")!

            let session = Session()
          </pre></code>
        </section>

        <section class="text-left" data-auto-animate>
          <h3>Path configuration</h3>
          <pre data-id="code" class="swift"><code data-trim data-line-numbers="4">
            let rootURL = URL(string: "http://localhost:3000")!

            let session = Session()
            session.pathConfiguration = PathConfiguration(sources: [])
          </pre></code>
        </section>

        <section class="text-left" data-auto-animate>
          <h3>Path configuration</h3>
          <pre data-id="code" class="swift"><code data-trim data-line-numbers="5">
            let rootURL = URL(string: "http://localhost:3000")!

            let session = Session()
            session.pathConfiguration = PathConfiguration(sources: [
              .server(rootURL.appending(path: "configurations/ios-v1.json"))
            ])
          </pre></code>
        </section>

        <section class="text-left" data-auto-animate>
          <h3>Path configuration</h3>
          <pre data-id="code" class="swift"><code data-trim data-line-numbers="5">
            let rootURL = URL(string: "http://localhost:3000")!

            let session = Session()
            session.pathConfiguration = PathConfiguration(sources: [
              .server(rootURL.appending(path: "configurations/ios-v1.json"))
            ])
          </pre></code>

          <pre class="ruby"><code data-trim>
            Rails.application.routes.draw do
              get "/configurations/ios-v1", to: "configurations#ios_v1"
            end
          </pre></code>
        </section>

        <section class="text-left" data-auto-animate>
          <h3>Route the screen</h3>
          <pre data-id="visit-code" class="swift" style="font-size: 1.3rem;"><code data-trim data-line-numbers>
            func visit(proposal: VisitProposal) {
                let visitable = VisitableViewController(url: proposal.url)
                navigationController.pushViewController(visitable)
                session.visit(visitable, options: proposal.options)
            }
          </pre></code>
        </section>

        <section class="text-left" data-auto-animate>
          <h3>Route the screen</h3>
          <pre data-id="visit-code" class="swift" style="font-size: 1.3rem;"><code data-trim data-line-numbers="2,4,8">
            func visit(proposal: VisitProposal) {
                if /* ... */ {

                } else {
                    let visitable = VisitableViewController(url: proposal.url)
                    navigationController.pushViewController(visitable)
                    session.visit(visitable, options: proposal.options)
                }
            }
          </pre></code>
        </section>

        <section class="text-left" data-auto-animate>
          <h3>Route the screen</h3>
          <pre data-id="visit-code" class="swift" style="font-size: 1.3rem;"><code data-trim data-line-numbers="2">
            func visit(proposal: VisitProposal) {
                if proposal.properties["controller"] as? String == "map" {

                } else {
                    let visitable = VisitableViewController(url: proposal.url)
                    navigationController.pushViewController(visitable)
                    session.visit(visitable, options: proposal.options)
                }
            }
          </pre></code>
        </section>

        <section class="text-left" data-auto-animate>
          <h3>Route the screen</h3>
          <pre data-id="visit-code" class="swift" style="font-size: 1.3rem;"><code data-trim data-line-numbers="2">
            func visit(proposal: VisitProposal) {
                if proposal.properties["controller"] as? String == "map" {

                } else {
                    let visitable = VisitableViewController(url: proposal.url)
                    navigationController.pushViewController(visitable)
                    session.visit(visitable, options: proposal.options)
                }
            }
          </pre></code>

          <pre data-id="code" class="json" style="font-size: 1.3rem;"><code data-trim data-line-numbers="3-5">
            {
              "patterns": ["/hikes/[0-9]+/map"],
              "properties": {
                "controller": "map"
              }
            }
          </pre></code>
        </section>

        <section class="text-left" data-auto-animate>
          <h3>Route the screen</h3>
          <pre data-id="visit-code" class="swift" style="font-size: 1.3rem;"><code data-trim data-line-numbers="3-4">
            func visit(proposal: VisitProposal) {
                if proposal.properties["controller"] as? String == "map" {
                    let controller = MapViewController(url: proposal.url)
                    navigationController.pushViewController(controller)
                } else {
                    let visitable = VisitableViewController(url: proposal.url)
                    navigationController.pushViewController(visitable)
                    session.visit(visitable, options: proposal.options)
                }
            }
          </pre></code>
        </section>

        <section class="r-fit-text text-left" data-auto-animate>
          <h2>Path configuration</h3>
          <p class="fragment">Keeps logic on the server</p>
          <p class="fragment">Disconnects from App Store releases</p>
          <p class="fragment">Grants backwards compatibility</p>
        </section>

        <!-- LOOKING AHEAD: TITLE -->
        <section>
          <div class="r-fit-text text-left">
            <h3>Looking ahead</h3>
            <p class="line-height-1">What's next for Turbo Native</p>
          </div>
        </section>

        <!-- LOOKING AHEAD: STRADA -->
        <section>
          <div class="text-left">
            <h2>Strada</h2>
            <p class="fragment">Native <em>components</em></p>
            <p class="fragment">Bridges web &#8596; native gap</p>
            <p class="fragment">Powered by your HTML</p>
          </div>
        </section>

        <section class="no-footer-link" data-background-image="images/strada-1.png" data-background-position="top"></section>
        <section class="no-footer-link" data-background-image="images/strada-2.png" data-background-position="top"></section>
        <section class="no-footer-link" data-background-image="images/strada-3.png" data-background-position="top"></section>

        <!-- LOOKING AHEAD: TURBO NAVIGATOR -->
        <section >
          <div class="text-left">
            <h2>Turbo Navigator</h2>
            <p class="fragment">Handles 15+ navigation flows</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
          </div>
        </section>

        <section class="no-footer-link" data-background-color="white" data-background-image="images/turbo-navigator-demo-white.mp4" data-background-size="contain"></section>
        <!-- <section class="no-footer-link" data-background-color="black" data-background-image="images/turbo-navigator-demo-black.mp4" data-background-size="contain"></section> -->

        <section >
          <div class="text-left">
            <h2>Turbo Navigator</h2>
            <p>Handles 15+ navigation flows</p>
            <p class="fragment">Removes 100+ lines of boilerplate</p>
            <p class="fragment">Upstreaming into turbo-ios soon!</p>
            <p class="fragment"><a href="https://github.com/joemasilotti/TurboNavigator" target="_blank">github.com/joemasilotti/TurboNavigator</a></p>
          </div>
        </section>

        <!-- SPEAKER: CONSULTING -->
        <section class="text-left">
          <h2>Your Turbo Native app</h2>
          <p class="fragment">I help folks launch Turbo Native apps.</p>
          <p class="fragment">And I’d love to do the same for you.</p>
          <p class="fragment">Say hi and see if Turbo Native is right for you.</p>
        </section>

        <!-- WRAP UP -->
        <section class="no-footer-link text-left">
          <h2>Joe Masilotti</h2>
          <p class="fragment">Email me a question – <a href="mailto:joe@masilotti.com" target="_blank">joe@masilotti.com</a></p>
          <p class="fragment">Learn more Turbo Native – <a href="https://masilotti.com" target="_blank">Masilotti.com</a></p>
          <p class="fragment">Thank you!</p>
        </section>
      </div>

      <div id="footer-link">
        <a href="https://masilotti.com" target="_blank">Masilotti.com</a>
      </div>
    </div>

    <script src="dist/reveal.js"></script>
    <script src="plugin/notes/notes.js"></script>
    <script src="plugin/markdown/markdown.js"></script>
    <script src="plugin/highlight/highlight.js"></script>
    <script>
      function toggleMasilottiLink() {
        const link = document.getElementById("footer-link");
        if (Reveal.getCurrentSlide().classList.contains("no-footer-link")) {
          link.style.display = "none"
        } else {
          link.style.display = "block"
        }
      }

      Reveal.addEventListener("slidechanged", () => {
        toggleMasilottiLink()
      })

      window.addEventListener("load", () => {
        toggleMasilottiLink()
      })

      // More info about initialization & config:
      // - https://revealjs.com/initialization/
      // - https://revealjs.com/config/
      Reveal.initialize({
        hash: true,

        // Learn about plugins: https://revealjs.com/plugins/
        plugins: [ RevealMarkdown, RevealHighlight, RevealNotes ]
      });
    </script>
  </body>
</html>
