<div aria-hidden="true" class="relative z-10 mt-4 flex items-center font-medium text-primary-600">
  <%= title || content %>
  <%= svg "/images/icons/mini/chevron_right.svg", class: "ml-1.5 h-3 w-3 stroke-current" %>
</div>
