<!DOCTYPE HTML>
<html lang="en" class="h-full antialiased">
  <head>
    <%= render Head.new(resource:, site: site) %>
  </head>

  <body class="flex h-full flex-col bg-zinc-50">
    <div class="fixed inset-0 flex justify-center sm:px-8">
      <div class="flex w-full max-w-7xl lg:px-8">
        <div class="w-full bg-white ring-1 ring-zinc-100"></div>
      </div>
    </div>

    <div class="relative">
      <%= render UI::Header.new(current_path: resource.permalink) %>

      <main>
        <%= yield %>
      </main>

      <%= render Footer.new(newsletter: site.data.newsletters.hotwire) %>
    </div>
  </body>
</html>
