---
title: Archives
description: |
  Everything I've ever published on my site, in reverse chronological order.

---

<%= render Ui::SimpleLayout.new(
  title: resource.data.title,
  intro: resource.data.description
) do %>
  <div class="md:border-l md:border-zinc-100 md:pl-6">
    <div class="flex max-w-3xl flex-col space-y-16">
      <% collections.posts.resources.sort_by { |r| r.data.date }.reverse.each do |post| %>
        <%= render Article.new(post) %>
      <% end %>
    </div>
  </div>
<% end %>
