~~~ruby
front_matter do
  title "Joe Masilotti's newsletter"
  description -> { site.data.newsletters.masilotti.description }
  permalink "/newsletter/"

  image "/images/pages/newsletter.png"
  hide_newsletter true
end
~~~

<%= render UI::SimpleLayout.new(
  title: resource.data.title,
  intro: resource.data.description,
  newsletter: site.data.newsletters.masilotti
) do %>
  <div class="prose max-w-xl">
    <h2>Content sneak peek</h2>
    <p>Here are some recent exlusives for my newsletter subscribers.</p>

    <ul class="not-prose flex flex-col space-y-16 pl-0">
      <% site.data.exclusives.each do |exclusive| %>
        <%= render Exclusive.new(**exclusive.to_options) %>
      <% end %>
    </ul>
  </div>
<% end %>
