---
title: Services
description: |
  I've been working with Turbo Native since 2015. Since then I've helped half
  a dozen businesses launch and consulted for twice as many. Here's how I can
  help you bring your Rails app to Android and iOS with Turbo Native.
permalink: /services/

image: /images/pages/services.png

---

<%= render UI::SimpleLayout.new(
  title: "Need a hand with your Turbo Native app? I'd love to help.",
  intro: resource.data.description
) do %>
  <div class="flex max-w-xl flex-col space-y-16">
    <% site.data.services.each do |service| %>
      <%= render Service.new(**{href: site.data.socials.email.href}.merge(service).to_options) %>
    <% end %>
  </div>
<% end %>
