---
title: Thank you for subscribing!
permalink: /thank-you/

---

<%= render UI::Container.new(class_name: "mt-16 sm:mt-32") do %>
  <div class="grid grid-cols-1 gap-y-16 lg:grid-cols-2 lg:grid-rows-[auto_1fr] lg:gap-y-12">
    <div class="lg:pl-20">
      <div class="max-w-[150px] px-2.5 lg:max-w-none">
        <figure>
          <img src="/images/joe.jpg" alt="Joe Masilotti" class="aspect-square sm:rotate-3 rounded-2xl bg-zinc-100 object-cover">
          <figcaption class="sr-only">Joe Masilotti</figcaption>
        </figure>
      </div>
    </div>

    <div class="lg:order-first lg:row-span-2">
      <h1 class="text-4xl font-bold tracking-tight text-zinc-800 sm:text-5xl">Thank you!</h1>

      <div class="prose">
        <%= render_snippet "thank-you" %>
      </div>
    </div>
  </div>
<% end %>

