{% assign subscribers = site.data.subscribers | round_and_format %}

{% capture description %}
  Join {{ subscribers }}+ Rails developers building iOS and Android apps with Hotwire Native.
{% endcapture %}

<div class="not-prose bg-gray-50 rounded-2xl md:shadow-lg p-8 pb-2 mx-auto max-w-xl text-center">
  <div class="flex justify-center">
    <div class="flex h-14 w-14 -mt-14 items-center justify-center rounded-xl bg-primary-50 ring-1 ring-primary-100">
      {% svg /assets/icons/outline/envelope.svg class="h-8 w-8 text-primary-700" %}
    </div>
  </div>
  <h2 class="mt-4 text-xl font-semibold text-gray-900">
    Get notified when new components ship
  </h2>
  <p class="mt-4 text-lg leading-relaxed text-gray-700">{{ description }} </p>
  <div class="mt-2">
    {% include newsletter/subscribe.liquid %}
  </div>
</div>
