<template data-og-template>
  <div class="flex w-full h-full items-center justify-center bg-gray-50">
    <div class="scale-[1.5] origin-center">
      <div class="px-6">
        <header class="max-w-3xl text-center mx-auto">
          <h1 class="text-5xl sm:text-6xl font-bold text-gray-900 flex flex-col items-center">
            <span class="inline-flex items-center gap-2 px-4 py-2 border border-primary-100 rounded-full bg-primary-50/75 text-primary-700 text-base font-medium mb-4">Bridge Components</span>
            <span class="tracking-tight">Native integrations for Hotwire Native apps</span>
          </h1>
          <p class="mt-6 text-xl sm:text-2xl text-gray-600 mx-auto leading-relaxed">
          Build iOS and Android features with HTML,
          <span class="italic block">no Swift or Kotlin required.</span>
          </p>
        </header>
        <div class="mt-10 flex justify-center">
          <div class="inline-flex items-center gap-3 rounded-2xl border-2 border-gray-400/25 px-8 py-4 text-xl font-semibold text-gray-900 bg-white">
            {% svg "/assets/icons/github.svg" class="h-7 w-7" %}
            <span>Free download</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
