---
---

@tailwind base;
@tailwind components;
@tailwind utilities;

.note {
  @apply text-gray-700 rounded-r-md bg-gray-300 bg-opacity-25 border-l-8 border-emerald-500 border-opacity-75 px-6 py-4;
}

.warning {
  @apply text-yellow-700 rounded-r-md bg-yellow-50 border-l-8 border-yellow-500 border-opacity-75 px-6 py-4 text-base;
}

.button {
  @apply inline-flex items-center gap-2 justify-center rounded-md py-2 px-3 text-sm outline-offset-2 transition active:transition-none no-underline;
}

.button.button-primary {
  @apply bg-gray-800 font-semibold text-gray-100 hover:bg-gray-700 active:bg-gray-800 active:text-gray-100/70;
}

.button.button-secondary {
  @apply bg-gray-50 font-medium text-gray-900 hover:bg-gray-100 active:bg-gray-100 active:text-gray-900/60;
}

.button.button-lg {
  @apply px-3.5 py-2.5;
}
