pre code .hll { background-color: #52525b; padding: 6px 6px 6px 0; }
pre code  { background: "#18181b"; color: #cccccc }
pre code .c { color: #999999 } /* Comment */
pre code .err { color: #f2777a } /* Error */
pre code .k { color: #cc99cc } /* Keyword */
pre code .l { color: #f99157 } /* Literal */
pre code .n { color: #cccccc } /* Name */
pre code .o { color: #66cccc } /* Operator */
pre code .p { color: #cccccc } /* Punctuation */
pre code .cm { color: #999999 } /* Comment.Multiline */
pre code .cp { color: #999999 } /* Comment.Preproc */
pre code .c1 { color: #999999 } /* Comment.Single */
pre code .cs { color: #999999 } /* Comment.Special */
pre code .gd { color: #f2777a } /* Generic.Deleted */
pre code .ge { font-style: italic } /* Generic.Emph */
pre code .gh { color: #cccccc; font-weight: bold } /* Generic.Heading */
pre code .gi { color: #99cc99 } /* Generic.Inserted */
pre code .gp { color: #999999; font-weight: bold } /* Generic.Prompt */
pre code .gs { font-weight: bold } /* Generic.Strong */
pre code .gu { color: #66cccc; font-weight: bold } /* Generic.Subheading */
pre code .kc { color: #cc99cc } /* Keyword.Constant */
pre code .kd { color: #cc99cc } /* Keyword.Declaration */
pre code .kn { color: #66cccc } /* Keyword.Namespace */
pre code .kp { color: #cc99cc } /* Keyword.Pseudo */
pre code .kr { color: #cc99cc } /* Keyword.Reserved */
pre code .kt { color: #ffcc66 } /* Keyword.Type */
pre code .ld { color: #99cc99 } /* Literal.Date */
pre code .m { color: #f99157 } /* Literal.Number */
pre code .s { color: #99cc99 } /* Literal.String */
pre code .na { color: #6699cc } /* Name.Attribute */
pre code .nb { color: #cccccc } /* Name.Builtin */
pre code .nc { color: #ffcc66 } /* Name.Class */
pre code .no { color: #f2777a } /* Name.Constant */
pre code .nd { color: #66cccc } /* Name.Decorator */
pre code .ni { color: #cccccc } /* Name.Entity */
pre code .ne { color: #f2777a } /* Name.Exception */
pre code .nf { color: #6699cc } /* Name.Function */
pre code .nl { color: #cccccc } /* Name.Label */
pre code .nn { color: #ffcc66 } /* Name.Namespace */
pre code .nx { color: #6699cc } /* Name.Other */
pre code .py { color: #cccccc } /* Name.Property */
pre code .nt { color: #66cccc } /* Name.Tag */
pre code .nv { color: #f2777a } /* Name.Variable */
pre code .ow { color: #66cccc } /* Operator.Word */
pre code .w { color: #cccccc } /* Text.Whitespace */
pre code .mf { color: #f99157 } /* Literal.Number.Float */
pre code .mh { color: #f99157 } /* Literal.Number.Hex */
pre code .mi { color: #f99157 } /* Literal.Number.Integer */
pre code .mo { color: #f99157 } /* Literal.Number.Oct */
pre code .sb { color: #99cc99 } /* Literal.String.Backtick */
pre code .sc { color: #cccccc } /* Literal.String.Char */
pre code .sd { color: #999999 } /* Literal.String.Doc */
pre code .s2 { color: #99cc99 } /* Literal.String.Double */
pre code .se { color: #f99157 } /* Literal.String.Escape */
pre code .sh { color: #99cc99 } /* Literal.String.Heredoc */
pre code .si { color: #f99157 } /* Literal.String.Interpol */
pre code .sx { color: #99cc99 } /* Literal.String.Other */
pre code .sr { color: #99cc99 } /* Literal.String.Regex */
pre code .s1 { color: #99cc99 } /* Literal.String.Single */
pre code .ss { color: #99cc99 } /* Literal.String.Symbol */
pre code .bp { color: #cccccc } /* Name.Builtin.Pseudo */
pre code .vc { color: #f2777a } /* Name.Variable.Class */
pre code .vg { color: #f2777a } /* Name.Variable.Global */
pre code .vi { color: #f2777a } /* Name.Variable.Instance */
pre code .il { color: #f99157 } /* Literal.Number.Integer.Long */
