/* General styling. */
.reveal pre {
  width: 98% !important;
}

/* Style helpers. */
.reveal .text-left {
  text-align: left;
}

.reveal .line-height-1 {
  line-height: 1;
}

/* Bottom element. */
.reveal .full {
  height: 100%;
  width: 100%;
  margin-top: 100px;
}

.reveal .bottom-element {
  position: absolute;
  bottom: 100px;
  left: 0;
  right: 0;
}

/* Twitter link. */
#footer-link {
  position: absolute;
  bottom: 25px;
  right: 40px;
  z-index: 9999;
  font-size: 1.9rem;
  font-weight: bold;
}
