<div class="flex justify-start items-center mt-16">
  <img src="/images/joe.jpg" class="rounded-full h-24 w-24 sm:h-32 sm:w-32">

  <div class="flex flex-col -space-y-0.5 text-sm sm:text-base text-zinc-600 ml-6">
    <div>Thanks,</div>
    <div>Joe Masilotti</div>
    <a href="https://twitter.com/joemasilotti" class="font-semibold underline">@joemasilotti</a>
    <a href="mailto:joe@masilotti.com" class="font-semibold underline">joe@masilotti.com</a>
  </div>
</div>
