/* General styling. */
.reveal pre {
  width: 98% !important;
}

/* Style helpers. */
.reveal .text-left {
  text-align: left;
}

.reveal .line-height-1 {
  line-height: 1;
}

/* Bottom element. */
.full {
  height: 100%;
  width: 100%;
  margin-top: 100px;
}

.bottom-element {
  position: absolute;
  bottom: 100px;
  left: 0;
  right: 0;
}

/* Two-up slide layout. */
.flex {
  display: flex;
  justify-content: space-between;
}

.flex-item {
  height: 100%;
  width: 45%;
}
