{% assign posts = site.tags.turbo_ios %}

<div class="rounded-2xl border border-zinc-100 pt-6 pb-2 px-6">
  <h3 class="font-semibold text-base text-zinc-900 mt-0">
    This is part of a {{posts | size}}-part blog series on <a href="{% post_url 2021-05-14-turbo-ios %}">Turbo Native</a>.
  </h3>

  <ol class="pt-1">
    {% for post in posts reversed %}
      {% if post == resource %}
        <li>
          <em>{{ post.series_title }}</em>
        </li>
      {% else %}
        <li>
          <a href="{{ post.relative_url }}">{{ post.series_title }}</a>
        </li>
      {% endif %}
    {% endfor %}
  </ol>
</div>
