---
layout: default
---

<div class="mt-16 sm:px-8 sm:mt-32">
  <div class="max-w-7xl mx-auto lg:px-8">
    <div class="relative px-4 sm:px-8 lg:px-12">
      <div class="max-w-2xl mx-auto lg:max-w-5xl">
        {{ content }}
      </div>
    </div>
  </div>
</div>
