---
layout: container
---

<div class="xl:relative">
  <div class="mx-auto max-w-2xl">
    <a href="{% link _pages/newsletter.liquid %}" title="Go back to all editions" aria-label="Go back to all editions" class="hidden group mb-8 lg:flex h-10 w-10 items-center justify-center rounded-full bg-white shadow-md shadow-gray-800/5 ring-1 ring-gray-900/5 transition lg:absolute lg:-left-5 lg:mb-0 lg:-mt-2 xl:-top-1.5 xl:left-0 xl:mt-0">
      {% svg /assets/icons/micro/arrow_left.svg class="h-3 w-3 stroke-gray-500 transition group-hover:stroke-gray-700" %}
    </a>
    <article>
      <header class="flex flex-col">
        <h1 class="mt-6 text-4xl font-bold tracking-tight text-gray-800 sm:text-5xl">
          ⚡️ Hotwire Monthly
          <span class="sr-only">- {{ page.edition }}</span>
        </h1>
        <time datetime="<%= resource.data.date %>" class="order-first flex items-center text-base text-gray-500">
          <span class="h-4 w-0.5 rounded-full bg-gray-200"></span>
          <span class="ml-3">{{ page.edition }}</span>
        </time>
      </header>
      <p class="mt-2 sm:mt-4 sm:text-lg text-gray-600">Turbo Native, Hotwire, and Ruby on Rails - weekly editions with monthly link roundups. Subscribe for exclusive content and first access to upcoming products. By <a href="{% link _pages/index.liquid %}" class="underline">Joe Masilotti</a>.</p>
      {% include newsletter/subscribe.liquid %}
      <div class="prose lg:prose-lg prose-h2:mb-8 prose-h3:mb-2 mt-8">
        {{ content }}
      </div>
      <div class="flex justify-start items-center mt-16">
        <img src="/assets/images/joe.jpg" class="rounded-full h-24 w-24 sm:h-32 sm:w-32">
        <div class="flex flex-col -space-y-0.5 text-sm sm:text-base text-gray-600 ml-6">
          <div>Thanks,</div>
          <div>Joe Masilotti</div>
          <a href="https://twitter.com/joemasilotti" class="font-semibold underline">@joemasilotti</a>
          <a href="mailto:joe@masilotti.com" class="font-semibold underline">joe@masilotti.com</a>
        </div>
      </div>
    </article>
  </div>
</div>
