---
layout: post
---

{{ content }}

{% assign posts = site.hotwire_native | sort: "order" %}
{% for p in posts %}
  {% if p.order > page.order %}
    {% assign post = p %}
    {% break %}
  {% endif %}
{% endfor %}

{% if post %}
  <div class="not-prose">
    <div class="mt-16 sm:mt-20">
      <div class="flex max-w-3xl flex-col space-y-10">
        <p class="text-sm font-semibold text-gray-500 tracking-wide uppercase">Read next</p>
        <article class="md:grid md:grid-cols-4 md:items-baseline">
          <div class="md:col-span-3 group relative flex flex-col items-start">
            <div class="text-lg font-semibold tracking-tight text-gray-800">
              <div class="absolute -inset-y-6 -inset-x-4 z-0 scale-95 bg-gray-50 opacity-0 transition group-hover:scale-100 group-hover:opacity-100 sm:-inset-x-6 sm:rounded-2xl"></div>
              <a href="/hotwire-native/hide-content-tailwind-css/">
                <span class="absolute -inset-y-6 -inset-x-4 z-20 sm:-inset-x-6 sm:rounded-2xl"></span>
                <p class="relative z-10">{{ post.title }}</p>
              </a>
            </div>
            <p class="relative z-10 mt-2 text-gray-600">{{ post.description }}</p>
          </div>
        </article>
      </div>
    </div>
  </div>
{% endif %}
