---
layout: default
---

<article class="prose lg:prose-xl max-w-3xl mx-auto px-4 pt-8 md:pt-0 pb-16">
  <div class="flex mb-2">
    <div class="font-medium block text-gray-600 ">
      Edition {{ page.edition }}
    </div>
  </div>

  <h1 class="p-name max-w-2xl mb-4 lg:mb-8">
    <a href="{{ page.url }}" class="u-url no-underline">The Masilotti Monthly</a>
  </h1>

  <div class="flex space-x-8 sm:space-x-12">
    <div class="flex space-x-2">
      <img src="/images/logo.png" alt="Joe Masilotti of Masilotti.com" class="w-10 h-10 my-0 lg:my-0">
      <dl class="text-sm font-medium leading-5 text-gray-700 whitespace-nowrap">
        <dt class="sr-only">Name</dt>
        <dd><a href="{{ site.url }}" class="no-underline text-gray-700 hover:text-primary-600" rel="author">Joe Masilotti</a></dd>
        <dt class="sr-only">Twitter</dt>
        <dd><a href="https://twitter.com/@{{ site.author.twitter }}" class="no-underline text-primary-600 hover:text-primary-700">@{{ site.author.twitter }}</a></dd>
      </dl>
    </div>
  </div>

  {% include newsletter.html hide_latest=true %}
  <hr />

  {{ content }}
  {% include newsletter.html hide_latest=true %}
</article>
