---
layout: default
---

<article class="prose lg:prose-lg max-w-3xl mx-auto px-4 pb-16">
  <h1 class="post-title mb-2 lg:mb-2 p-name">
    <a href="{{ page.url }}" class="u-url no-underline">{{ page.title }}</a>
  </h1>

  <time datetime="{{ post.date | date_to_xmlschema }}" class="text-sm mr-2 post-date">
    {{ page.date | date: '%B %-d, %Y' }}
  </time>

  {% assign category = site.data.categories | where: "slug", page.category %}
  {% assign category = category.first %}
  <a href="/topics/#{{ category.slug }}" class="inline-block no-underline mr-4">
    <span class="inline-flex items-center px-3 py-0.5 rounded-full text-sm font-medium leading-5 bg-{{category.color}}-100 text-{{category.color}}-800">
      {{ category.name }}
    </span>
  </a>

  {{ content }}
</article>
