---
layout: container
---

<header class="max-w-screen-md">
  <h1 class="text-4xl font-bold tracking-tight text-gray-800 sm:text-5xl">{{ page.layout_title | default: page.title }}</h1>
  <p class="mt-4 text-xl text-gray-600 sm:mt-6 sm:text-2xl ">{{ page.layout_description | default: page.description }}</p>
</header>

{% if page.newsletter %}
  {% include newsletter/subscribe.liquid %}
{% endif %}

<div class="mt-16 sm:mt-20">
  {{ content }}
</div>
