@import "jit-refresh.css"; /* triggers frontend rebuilds */

@tailwind base;
@tailwind components;
@tailwind utilities;

.full-width {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}
