<div class="sm:px-8">
  <div class="w-full max-w-7xl mx-auto mb-2 lg:px-8">
    <div class="text-center bg-gray-900 px-6 py-2.5 sm:px-3.5">
      <p class="text-sm leading-6 text-white">
        <%= title %>

        <a class="whitespace-nowrap font-semibold pointer-events-auto" href="<%= href %>">
          <%= cta %>
          <span aria-hidden="true">→</span>
        </a>
      </p>
    </div>
  </div>
</div>
