<footer class="mt-32 sm:px-8">
  <div class="mx-auto max-w-7xl lg:px-8">
    <% unless hide_newsletter %>
      <%= render WideNewsletter.new(newsletter) %>
    <% end %>

    <div class="relative px-4 sm:px-8 lg:px-12 border-t border-zinc-100 pt-10 pb-16">
      <div class="mx-auto max-w-2xl lg:max-w-5xl">
        <div class="flex flex-col items-center justify-between gap-6 sm:flex-row">
          <div class="flex gap-6 text-sm font-medium text-zinc-800">
            <% links.each do |link| %>
              <%= link_to link.title, link.href, class: "transition hover:text-primary-500" %>
            <% end %>
          </div>

          <p class="text-sm text-zinc-500">
            &copy; <%= Time.current.year %> Joe Masilotti. All rights reserved.
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>
