<div class="relative px-4 sm:px-8 lg:px-12 <%= border %> border-zinc-100 py-12">
  <div class="mx-auto max-w-2xl lg:max-w-5xl">
    <div class="lg:flex lg:items-center lg:justify-between lg:space-x-4">
      <div>
        <h3 class="flex items-center text-base font-medium text-gray-900">
          <%= svg "images/icons/outline/envelope.svg", class: "h-6 w-6 flex-none text-zinc-500" %>
          <span class="ml-2">Subscribe to the ⚡️ <%= link_to "Hotwire dev newsletter", "_pages/hotwire.erb", class: "underline" %></span>
        </h3>
        <p class="mt-2 text-base text-gray-500">Turbo (Native), Stimulus, and Strada articles, code, courses, and more every month.</p>
      </div>

      <%= render EmailCapture.new(newsletter) %>
    </div>
  </div>
</div>
